.post-text-area-with-close {
	position: relative;

	& &__icon {
		cursor: pointer;
		transition: 0.3s linear color;
		color: #ff0000;
		position: absolute;
		bottom: 10px;
		right: -25px;

		&:hover {
			color: #660000;
		}

		&:active {
			color: #660000;
		}
		span {
			display: flex;
			align-items: center;
		}
	}
}
