.sort-button {
	position: relative;

	&[data-isopen='false'] {
		.sort-button__menu {
			opacity: 0;
			z-index: -1;
			transform: translateY(-5rem);
		}
	}

	&[data-isopen='true'] {
		.sort-button__button {
			svg {
				transform: rotate(180deg);
			}
		}

		.sort-button__menu {
			opacity: 1;
			z-index: 2;
			transform: translateY(0);
		}
	}

	& &__button {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 0.8rem;
		padding: 1.2rem 2.2rem;
		border: 1px solid #d5d5d5;
		border-radius: 12px;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 130%;
		background-color: #fff;
		color: #000000;
		fill: #000000;

		svg {
			transition: 0.2s transform linear;
		}

		&:hover {
			border: 1px solid #3c79f5;
		}
		&:active {
			border: 1px solid #d5d5d5;
		}
	}

	& &__menu {
		padding: 2.4rem 2.3rem 2.4rem 2.4rem;
		position: absolute;
		right: 0;
		top: 5rem;
		display: flex;
		flex-direction: column;
		gap: 1.8rem;
		background-color: #fff;
		border: 1px solid #d5d5d5;
		border-radius: 12px;

		transition: 0.3s opacity linear, 0.3s transform linear;
	}

	& &__element {
		white-space: nowrap;
		cursor: pointer;
		transition: 0.2s linear color;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 130%;
		color: rgba(0, 0, 0, 0.6);

		&:hover {
			color: #3c79f5;
		}
		&:active {
			color: #3c79f5;
		}

		&[data-active='true'] {
			color: #3c79f5;
			font-weight: bold;
			&:hover {
				color: #3c79f5;
			}
			&:active {
				color: #3c79f5;
			}
		}
	}
}
