.reply {
	margin-left: 9.142rem;
	& &__reply {
		display: flex;
		gap: 1.6rem;
		padding: 2.4rem;
		border: 1px solid #d5d5d5;
		background: #ffffff;
		border-radius: 16px;
		max-width: 84rem;
		width: 100%;
		z-index: 1;
		&:hover {
			border: 1px solid rgba(0, 0, 0, 0.6);
		}
	}

	@media (max-width: 600px) {
		margin-left: 7.49rem;
	}

	@media (max-width: 450px) {
		margin-left: 3rem;
		& &__reply {
			padding: 1.2rem;
		}
	}
	@media (max-width: 350px) {
		& &__image {
			display: none;
		}
	}
}
