.post-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 84rem;
	width: 100%;
	gap: 1.6rem;
	height: auto;
	z-index: 2;

	& &__post {
		max-width: 84rem;
		padding: 3.2rem;
		box-sizing: border-box;
		background: #ffffff;
		border-radius: 20px;

		width: 100%;
		&[data-isanswer='true'] {
			width: calc(100%);
			max-width: 74.4rem;
		}
	}

	& &__header {
		max-width: 84rem;
		width: 100%;
		display: flex;
		gap: 1.6rem;
	}

	& &__answer {
		margin-bottom: 1.6rem;
	}

	& &__content {
		margin-bottom: 2.5rem;
		margin-left: 5.7rem;

		p {
			max-width: 66rem;
		}
	}

	& &__interaction {
		margin-left: 5.7rem;
	}

	@media (max-width: 595px) {
		& &__post {
			padding: 2.4rem;
		}
	}

	@media (max-width: 450px) {
		& &__content {
			margin-top: 2rem;
			margin-bottom: 2.5rem;
			margin-left: 0rem;
		}

		& &__interaction {
			margin-left: 0rem;
		}
	}
}
